.header {
  background: $primaryColor;
  color: $headerWhite;
  display: grid;
  @include respond(phone) {
    width: 100vw;
    position: fixed;
    grid-template-columns: 5rem 1fr;
    height: 8vh;
    grid-row: 1;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
    &--link {
      grid-column: 2;
      display: inline-block;
      align-self: center;
      padding: 1rem 0;
      a {
        align-self: center;
        color: $headerWhite;
      }
    }
  }
}
