.header {
  background: $primaryColor;
  color: $headerWhite;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  height: 8vh;
  grid-template-columns: 2fr 1fr;
  &--nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    [aria-current="page"] {
      text-decoration: underline;
    }

    @include respond(tabPort) {
      display: none;
    }
    @include respond(phone) {
      display: none;
    }
    &__home,
    &__creations,
    &__contact {
      align-self: center;
      font-size: 3rem;
      justify-self: center;
      padding: 0 1.5rem;
    }
  }
  &--link {
    grid-column: 1;
    align-self: center;
    padding: 0 3rem;
    font-size: 2rem;
  }
  a {
    color: $headerWhite;
  }
  @include respond(tabPort) {
    z-index: 3;
    width: 100vw;
    position: fixed;
    grid-template-columns: 5rem 1fr;
    height: 10vh;
    grid-row: 1;
    text-align: center;
    margin: 0;
    padding: 0;
    &--link {
      grid-column: 2;
      display: inline-block;
      align-self: center;
      h1 {
        padding: 0 0 1rem 0;
        font-size: 4.5rem;
      }
      a {
        align-self: center;
        color: $headerWhite;
      }
    }
  }
  @include respond(phone) {
    z-index: 3;
    width: 100vw;
    position: fixed;
    grid-template-columns: 5rem 1fr;
    height: 8vh;
    grid-row: 1;
    text-align: center;
    margin: 0;
    padding: 0;
    &--link {
      grid-column: 2;
      display: inline-block;
      align-self: center;
      padding: 1rem 0;
      h1 {
        font-size: 2.3rem;
      }
      a {
        align-self: center;
        color: $headerWhite;
      }
    }
  }
}
