.bm-burger-button {
  display: none;
  @include respond(tabPort) {
    display: block;
    position: fixed;
    width: 50px;
    height: 30px;
    left: 22.5px;
    top: 35px;
  }
  @include respond(phone) {
    display: block;
    position: fixed;
    width: 25px;
    height: 15px;
    left: 18px;
    top: 22px;
  }
}

.bm-burger-bars {
  background: $headerWhite;
}

.bm-cross-button {
  display: none;
  @include respond(tabPort) {
    display: block;
    position: fixed;
    width: 50px;
    height: 30px;
    left: 22.5px;
    top: 22.5px;
  }
  @include respond(phone) {
    display: block;
  }
}

.bm-cross {
  background: $headerWhite;
}

.bm-menu-wrap {
  display: none;
  background: $primaryColor;
  width: 100%;
}

.bm-menu {
  background: $primaryColor;
  height: 100vh;
  display: none;
  @include respond(tabPort) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh repeat(3, 1fr) 2fr;
    width: 80vw;
  }
  @include respond(phone) {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 1fr 2fr;
  }
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: $primaryColor;
  grid-column: 1;
  grid-row: 2;
  a {
    color: $headerWhite;
  }
  @include respond(tabPort) {
    padding: 1.5rem;
    font-size: 6rem;
    justify-self: center;
    align-self: center;
    a {
      transition: all 0.3s ease-in-out;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @include respond(phone) {
    padding: 1.5rem;
    font-size: 4rem;
    justify-self: center;
    align-self: center;
    a {
      transition: all 0.3s ease-in-out;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.bm-item {
  display: inline-block;
  @include respond(phone) {
    padding: 4rem 0;
  }
}

.bm-overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
}
