.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 15px;
  left: 18px;
  top: 18px;
  display: none;
  @include respond(phone) {
    display: block;
  }
}

.bm-burger-bars {
  background: $headerWhite;
}

.bm-cross-button {
  position: fixed;
  width: 25px;
  height: 15px;
  left: 18px;
  top: 18px;
  display: none;
  @include respond(phone) {
    display: block;
  }
}

.bm-cross {
  background: $headerWhite;
}

.bm-menu-wrap {
  background: $primaryColor;
  width: 100%;
}

.bm-menu {
  background: $primaryColor;
  @include respond(phone) {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 1fr 2fr;
  }
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  grid-column: 1;
  grid-row: 2;
  a {
    color: $headerWhite;
  }
  @include respond(phone) {
    font-size: 4rem;
    justify-self: center;
    align-self: center;
    a:hover {
      text-decoration: underline;
    }
  }
}

.bm-item {
  display: inline-block;
  @include respond(phone) {
    padding: 4rem 0;
  }
}

.bm-overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
}
