// Fonts
$base: 2rem;
$testBase: 1.85rem;
$smallFont: 1.75rem;
$mediumFont: 2.2rem;
$largeFont: 2.5rem;
// Fonts - Headings
$baseHeading: 2.3rem;
$smallHeading: 1.9rem;
$mediumHeading: 2rem;
$bigHeading: 2.5rem;
$largeHeading: 3rem;

// Colors
$headerWhite: #e2e1e1;
$textBlack: #130f0f;
$primaryColor: #222;
$secondaryColor: #920e0e;
