.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: url("../images/ssc064banner.jpg") no-repeat center center / cover;
  @include respond(phone) {
    grid-column: 1;
    grid-row: 2;
  }
}
