.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(3, 1fr);
  width: 100vw;
  &--greeting {
    background: url("../static/ssc064banner.jpg") no-repeat center center /
      cover;
    grid-row: 1;
    grid-column: 1 / -1;
    color: $primaryColor;
    width: 90%;
    grid-column: 1 / -1;
    grid-row: 1;
    margin: 3rem 0;
    height: 95%;
    justify-self: center;
    transition: all 0.3s ease-out;
    font-weight: bold;
    h1 {
      font-size: 2.3rem;
      color: $primaryColor;
      text-align: center;
      background: $headerWhite;
      width: 50%;
      margin: 0 auto;
      margin-top: 3.5rem;
      border-radius: 10rem;
      padding: 5px 0;
      box-shadow: 5px 5px $primaryColor;
      transition: all 0.3s ease-in-out;
      &:hover {
        transition: all 0.3s ease-in-out;
        width: 90%;
      }
    }
    p {
      text-shadow: 2px 2px black;
      padding: 3rem 3rem;
      color: $headerWhite;
      font-size: 3rem;
    }
  }
  &--cta {
    grid-row: 2;
    grid-column: 1 / -1;
    color: $primaryColor;
    width: 90%;
    margin: 6rem 0 3rem 0;
    height: 95%;
    justify-self: center;
    transition: all 0.3s ease-out;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &__image {
      grid-column: 1 / -1;
      justify-self: center;
      img {
        justify-self: center;
        display: block;
      }
    }
    h1 {
      grid-column: 1 / -1;
      font-size: 2.3rem;
      color: $headerWhite;
      text-align: center;
      background: $primaryColor;
      width: 50%;
      margin: 0 auto;
      margin-top: 3.5rem;
      border-radius: 10rem;
      padding: 5px 0;
      box-shadow: 5px 5px $headerWhite;
      transition: all 0.3s ease-in-out;
      &:hover {
        transition: all 0.3s ease-in-out;
        width: 90%;
      }
    }
    p {
      grid-column: 1 / -1;
      font-size: 3rem;
      padding: 3rem;
    }
  }
  &--purchasing {
    grid-row: 4;
    justify-self: center;
    grid-column: 1 / 3;
    background: url("../static/ssc041banner.jpg") no-repeat center center /
      cover;
    grid-column: 1 / -1;
    color: $primaryColor;
    width: 90%;
    grid-column: 1 / -1;
    margin: 3rem 0;
    height: 55vh;
    justify-self: center;
    transition: all 0.3s ease-out;
    font-weight: bold;
    a {
      color: $headerWhite;
    }
    h1 {
      font-size: 2.3rem;
      color: $primaryColor;
      text-align: center;
      background: $headerWhite;
      width: 50%;
      margin: 0 auto;
      margin-top: 3.5rem;
      border-radius: 10rem;
      padding: 5px 0;
      box-shadow: 5px 5px $primaryColor;
      transition: all 0.3s ease-in-out;
      &:hover {
        transition: all 0.3s ease-in-out;
        width: 90%;
      }
    }
    p {
      text-shadow: 2px 2px black;
      padding: 3rem 3rem;
      color: $headerWhite;
      font-size: 3rem;
    }
  }
  @include respond(tabPort) {
    grid-template-columns: 100vw;
    grid-template-rows: 90vh 140vh 62vh;
    grid-row: 2 / -1;
    grid-column: 1;
    font-weight: 700;
    &--greeting {
      grid-column: 1;
      grid-row: 1;
      h1 {
        font-size: 2.3rem;
        color: $primaryColor;
        text-align: center;
        background: $headerWhite;
        width: 50%;
        margin: 0 auto;
        margin-top: 3.5rem;
        border-radius: 10rem;
        padding: 5px 0;
        box-shadow: 5px 5px $primaryColor;
        transition: all 0.3s ease-in-out;
        &:hover {
          transition: all 0.3s ease-in-out;
          width: 90%;
        }
      }
      p {
        text-shadow: 2px 2px black;
        color: $headerWhite;
        font-size: 3.2rem;
        padding: 1.5rem 3rem;
        align-self: center;
      }
    }
    &--cta {
      grid-row: 2;
      grid-column: 1;
      &__image {
        margin-top: 1.5rem;
        img {
          margin: 0 auto;
          display: block;
          width: 90%;
          height: 75%;
          justify-self: center;
        }
      }
      h1 {
        font-size: 2.3rem;
        color: $headerWhite;
        text-align: center;
        background: $primaryColor;
        width: 50%;
        margin: 0 auto;
        margin-top: 4.5rem;
        border-radius: 10rem;
        padding: 5px 0;
        box-shadow: 5px 5px $headerWhite;
        transition: all 0.3s ease-in-out;
        &:hover {
          transition: all 0.3s ease-in-out;
          width: 90%;
        }
      }
      p {
        color: $primaryColor;
        font-size: 3.2rem;
        padding: 1.5rem 3rem;
      }
    }
    &--purchasing {
      grid-row: 3;
      grid-column: 1;
      h1 {
        font-size: 2.3rem;
        color: $primaryColor;
        text-align: center;
        background: $headerWhite;
        width: 50%;
        margin: 0 auto;
        margin-top: 4.5rem;
        border-radius: 10rem;
        padding: 5px 0;
        box-shadow: 5px 5px $primaryColor;
        transition: all 0.3s ease-in-out;
        &:hover {
          transition: all 0.3s ease-in-out;
          width: 90%;
        }
      }
      p {
        text-shadow: 2px 2px black;
        color: $headerWhite;
        font-size: 3.2rem;
        padding: 1.5rem 3rem;
        a {
          text-decoration: underline;
          color: $headerWhite;
        }
      }
    }
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: 135vh 150vh 92vh;
    grid-row: 2 / -1;
    grid-column: 1;
    font-weight: 700;
    &--greeting {
      grid-row: 1;
      grid-column: 1;
      h1 {
        font-size: 2.3rem;
        color: $primaryColor;
        text-align: center;
        background: $headerWhite;
        width: 50%;
        margin: 0 auto;
        margin-top: 2rem;
        border-radius: 10rem;
        padding: 5px 0;
        box-shadow: 5px 5px $primaryColor;
        transition: all 0.3s ease-in-out;
        &:hover {
          transition: all 0.3s ease-in-out;
          width: 90%;
        }
      }
      p {
        @include paragraph;
      }
    }
    &--cta {
      grid-row: 2;
      grid-column: 1;
      &__image {
        margin-top: 1.5rem;
        img {
          margin: 0 auto;
          display: block;
          width: 90%;
          height: 75%;
          justify-self: center;
        }
      }
      h1 {
        font-size: 2.3rem;
        color: $headerWhite;
        text-align: center;
        background: $primaryColor;
        width: 50%;
        margin: 0 auto;
        margin-top: 2rem;
        border-radius: 10rem;
        padding: 5px 0;
        box-shadow: 5px 5px $headerWhite;
        transition: all 0.3s ease-in-out;
        &:hover {
          transition: all 0.3s ease-in-out;
          width: 90%;
        }
      }
      p {
        color: $primaryColor;
        font-size: 2rem;
        padding: 1.5rem 3rem;
      }
    }
    &--purchasing {
      grid-row: 3;
      grid-column: 1;
      h1 {
        font-size: 2.3rem;
        color: $primaryColor;
        text-align: center;
        background: $headerWhite;
        width: 50%;
        margin: 0 auto;
        margin-top: 2rem;
        border-radius: 10rem;
        padding: 5px 0;
        box-shadow: 5px 5px $primaryColor;
        transition: all 0.3s ease-in-out;
        &:hover {
          transition: all 0.3s ease-in-out;
          width: 90%;
        }
      }
      p {
        @include paragraph;
      }
    }
  }
}
